:root {
  /* color */
  --main-bg: #eeeeee;
  --black: #000000;
  --accent: #28bc37;
  --accent-dark: color-mix(in srgb, var(--accent), black 20%);
  --accent-light: color-mix(in srgb, var(--accent), white 20%);
  --gray: #adadad;
  --gray-light: #e8e8e8;
  --red: #bc4c28;
  --red-dark: color-mix(in srgb, var(--red), black 20%);
  --red-light: color-mix(in srgb, var(--red), white 20%);
  --bg: #ffffff;
  --sub-bg: #f5f5f5;
  color-scheme: light dark;

  /* font size */
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-b: 20px;
  --fz-lg: 40px;

  /* border radius */
  --r-md: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background: var(--main-bg);
  color: var(--black);
  font-family: sans-serif;
  font-weight: 400;
  font-size: var(--fz-md);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #303030;
    --black: #ffffff;
    --accent: #28bc37;
    --gray: #adadad;
    --gray-light: #e8e8e8;
    --bg: #202020;
    --sub-bg: #303030;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg: #eeeeee;
    --black: #000000;
    --accent: #28bc37;
    --gray: #adadad;
    --gray-light: #e8e8e8;
    --bg: #ffffff;
    --sub-bg: #f5f5f5;
  }
}
