.root {
  height: 30px;
  width: 100%;
  padding: 5px 15px;
  border-radius: var(--r-md);
  border: 1px solid var(--gray-light);
  background: var(--sub-bg);
  color: var(--black);
  outline: none;
  font-size: var(--fz-md);
  transition: border 0.15s ease;
}

.root::placeholder {
  color: var(--gray);
}

.root:focus {
  border-color: var(--gray);
}
