.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.wrapper svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.time {
  font-size: var(--fz-lg);
  letter-spacing: 5%;
}

.totalTime {
  color: var(--gray);
}
